@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts.css';

.active-link
{
    font-family: bolder;
    color: #eb5555;
}
.active-tab span{
    background-color: #1565D8;
    color: #fff;
}
.active-pagination
{
    background-color: #1565D8;
    color: #fff;
}
.bg-gray{
    background-color: #333;
}
.text-gray{
    color: #333;
}
.text-blue-dif{
    color: #153B58;
}